.biography{
    margin: 50px;
    display: flex;
    flex-direction: column;
    place-items: center;
    /* width: 65.8807826589%; */
    width: 950px;
    /* padding-top: 2rem; */
}
@media(max-width:780px){
    .biography{
        width: 90%;
    }
}
/* l
@media(max-width:1300){
    .biography{
        width: 1200px;
        margin-left: 0;
        margin-right: 0;
    }
} */


.biography__title{
    place-items: center;
}

.biography__title h2 {
    font-size: 30px;
}

.biography__top {
    border: 2px solid #21556e;
    border-radius: 15px;
    margin-top: 20px;
    overflow:hidden
}

.top__wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 100px;
    /* padding: 5px 0; */
    padding: 15px


}

@media(max-width: 780px){
    .top__wrap{
        margin: 0;
        gap: 30px;
        flex-direction: column;
        place-items: center;
    }
}


.wrapper__info{
    flex: 0.5;
}

@media(max-width:780px){
    .wrapper__info{
        
        flex: 1;
    }
}

.wrapper__image, .wrapper__image-mobile{
     flex: 0.4;
     height: 400px;
     width: 300px;
     
}

@media(min-width: 781px){
    .wrapper__image-mobile{
        display: none;
    }
}
@media(max-width:780px){
    .wrapper__image{
        
        display: none;
    }
}

.wrapper__image img, .wrapper__image-mobile img{
    margin-top: 20px;
    max-height: 100%;
    max-width: 100%;
    border-radius: 15px;
}

@media(max-width: 360px){
    .wrapper__image-mobile img{
        width: 70%;
        margin-top: 20px;
        /* max-height: 100%;
        max-width: 100%; */
        border-radius: 15px;
    }
}